<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{ums.app.name}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> 
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">   
    <link th:replace="fragments/css" />
    <link rel="stylesheet" th:href="@{/component/ztree/css/zTreeStyle/zTreeStyle.css}" /> 
    
</head>
<body>
    <div class="layui-fluid" style="margin-top: 12px;">
      <div class="layui-row">
        <div class="layui-col-xs12">
          <div class="layui-card">
            <div class="layui-card-header">Key资产业务->Key资产管理
            </div>
            <div class="layui-card-body">
                <div class="layui-row">
                  <div class="layui-col-xs3" style="max-height:400px;overflow: auto">
                    <ul id="menuTreeId" class="ztree"></ul>
                  </div>
                  <div class="layui-col-xs9">          
                    <table id="ecTable" lay-filter="ecTable"></table>                
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script th:replace="fragments/scripts"></script>
<script type="text/javascript" th:src="@{/component/ztree/js/jquery.ztree.all.js}"></script>
<script type="text/html" id="ecColTool">
    <a class="layui-btn layui-btn-xs" lay-event="showKeys">查看KEY</a>
</script>

<script type="text/html" id="ecToolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="search"><i class="layui-icon layui-icon-search"></i>查询</button> 
    <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>新增KEY</button>
    <button class="layui-btn layui-btn-sm" lay-event="fileBatchImport"><i class="layui-icon layui-icon-upload-drag"></i>批量导入KEY</button>
    <button class="layui-btn layui-btn-sm" lay-event="issueDept"><i class="layui-icon layui-icon-group"></i>按部门领取</button>
  </div>
</script>

<script type="text/html" id="caKeyTableToolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="issueKey"></i>领取</button> 
    <button class="layui-btn layui-btn-sm" lay-event="lostKey"></i>标记丢失</button>
    <button class="layui-btn layui-btn-sm" lay-event="recyclingKey">离职归还</button>
  </div>
</script>

<script type="text/html" id="statusTpl">
  {{#  if(d.status === 'y'){ }}
    <span style="color: #009688;">启用</span>
  {{#  } else { }}
    <span style="color: #FF5722;">禁用</span>
  {{#  } }}
</script>
    
<script type="text/html" id="statusTpl1">
   <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="status" {{ d.status == 'y' ? 'checked' : '' }}>       
</script>	
<script type="text/javascript">

    layui.config({
        base: ecApp.context+'js/'
    }).use(['jquery','layer', 'form','table','laytpl','upload'], function(){
    var $ = jQuery,
    layer = layui.layer,
    table = layui.table,
    form = layui.form,
    upload = layui.upload,
    laytpl=layui.laytpl;   
    
    var tableIns=table.render({
        method: 'post',
        limit: 20,
        even:true,
        elem: '#ecTable',
        height: 'full-100',
        toolbar: '#ecToolbar',
        defaultToolbar: ['filter','exports'],
        done: function () {
          
        },request: {
            pageName: 'page',
            limitName: 'rows'
        },
        response: {
            countName: 'total',
            dataName: 'rows'
        },
        url: '../user/searchJSON', //数据接口
        page: true, //开启分页
        cols: [
          [ //表头
        	{type:'checkbox',fixed: 'left'}  
            ,{field: 'userId',title: 'ID',width: 80,align:'center',sort: false}
            ,{field: 'alias',title: '帐号',width: 150}
            ,{field: 'name',title: '姓名',width: 150,sort: false}
            ,{field: 'idcard',title: '身份证号',width: 150,sort: false}
            ,{field: 'mobile',title: '手机',width: 120,sort: false}
            ,{field: 'status',title: '状态',width: 60,align:'center',templet: '#statusTpl'}
            ,{field: 'opTime',title: '操作时间',width: 120,align:'center'},
            ,{field: 'taxis',title: '排序',width: 80,align:'center',sort: false}
            ,{fixed: 'right',width: 120,align: 'center',toolbar: '#ecColTool'}
          ]
        ]
      });

    ecApp.openForm=function(vtitle,formData){
        layer.open({
            title:vtitle,
            type: 1,
            anim: 3,
            fixed:true,
            maxmin:true,
            offset: 'r',
            area: ['60%', '100%'],
            content: $('#editFormTp'),
            success: function(layero, index){
                form.val("ec-edit-form",formData);
            },
            cancel: function(index, layero){
            	$(this.content).hide();
            }
        });     
    }    
    
    //监听顶部工具条
    table.on('toolbar(ecTable)', function(obj){
    	  var checkStatus = table.checkStatus(obj.config.id);
    	  switch(obj.event){
    	    case 'add':
    	    	if(checkStatus.data&&checkStatus.data.length==1){
    	    		ecApp.openForm('添加用户KEY',checkStatus.data[0]);
    	    	}else{
    	    		layer.msg('请选择一个用户');
    	    	}
    	    break;
    	    case 'search':
    	        layer.open({
    	            title:'查询',
    	            type: 1,
    	            anim: 3,
    	            fixed:true,
    	            maxmin:true,
    	            offset: 'r',
    	            area: ['350px', '100%'],
    	            content: $('#searchFormTp'),
    	            success: function(layero, index){
    	            	
    	            },
    	            cancel: function(index, layero){ 
    	            	$(this.content).hide();
    	            }
    	        });
    	    	
    	    break;
    	    
            case 'fileBatchImport':
                layer.open({
                    title:'批量导入KEY',
                    type: 1,
                    anim: 3,
                    fixed:true,
                    maxmin:true,
                    offset: 'r',
                    area: ['400px', '100%'],
                    content: $('#showFileImportFormTp'),
                    success: function(layero, index){
                    	if(!ecApp.uploadInst){
                            ecApp.uploadInst = upload.render({
                                elem : '#userFile' //绑定元素
                                ,url : '../user/fileUpload' //上传接口
                                ,accept: 'file' //普通文件
                                ,exts : 'xlsx|xls'
                                ,auto : true //选择文件后自动上传
                                ,before : function(obj) {
                                      //预读本地文件示例，不支持ie8
                                      obj.preview(function(index, file, result){
                                          $('#uploadTipText').html(file.name);
                                      });
                                    layer.load(); //上传loading
                                },
                                done : function(res) {
                                    layer.closeAll('loading'); //关闭loading
                                    //上传完毕回调
                                    if (res.code == 0){
                                        $("#filePath").val(res.data.filePath);
                                        var coloumNum=res.data.fileColoumNum;
                                        var _html="<option value=''>选择列</option>";
                                        for(var i=0;i<coloumNum;i++){  
                                            _html=_html+"<option value='"+i+"'>"+String.fromCharCode(65+i)+"</option>";  
                                        }
                                        $("select","#ec-import-form").html("");
                                        $("select","#ec-import-form").append(_html);
                                        form.render('select');
                                        
                                        return;
                                    } else {
                                        layer.alert(res.msg);
                                        return;
                                    }
                                },
                                error : function() {
                                    //请求异常回调
                                    layer.closeAll('loading'); //关闭loading
                                }
                            });                     		
                    	}
                       
                    },
                    cancel: function(index, layero){ 
                        $(this.content).hide();
                    }
                });
                
            break;            
            
            case 'issueDept':
                if(ecApp.ztree.currentNode){
                    layer.confirm('您确认要生成【'+ecApp.ztree.currentNode.name+"】部门的领取单吗？", function(index){
                        layer.close(index);
                        var sfJson={};
                        var rnd=parseInt(Math.random()*10000);
                        sfJson.rnd=rnd;
                        sfJson.groupId=ecApp.ztree.currentNode.id;
                        sfJson.groupName=ecApp.ztree.currentNode.name;                        
                        var curLayerIndex=layer.load();
                        $.ajax({
                           type:"POST",
                           url:"./issueByDept",
                           data:sfJson,
                           dataType:'json',
                           success:function(resp){
                               layer.alert(resp.msg);
                               if(resp.code===0){
                            	   var _html='<p>1.领取单号：'+resp.data.orderId+'</p>';
                            	   _html=_html+'<p>2.待签名PDF下载请点<a style="color:red;font-weight:bold" href="../cakeyOrder/downPdf?orderId='+resp.data.orderId+'" target="_blank">【这里】</a></p>';
                            	   _html=_html+'<p>3.签名PDF上传，请到【CA-KEY操作工单】界面，根据工单号选择对应的记录上传</p>'
                                   layer.open({
                                       title: sfJson.groupName+'-领取单PDF下载'
                                       ,content: _html
                                     }); 
                               }
 
                           },
                           complete:function(){
                               layer.close(curLayerIndex);
                           },
                           error:function(){
                               layer.alert("操作失败，请重试！");
                           }
                        });
                      
                    });
                }else{
                	layer.alert('请选择一个部门');
                }            
            break;
            
    	  };
    	});
    
    //监听记录行工具条
    table.on('tool(ecTable)', function(obj){
      var data = obj.data;
      ecApp.curSelUser=data;
      if(obj.event === 'detail'){
    	  ecApp.openForm('查看',false,data.userId);
      } else if(obj.event === 'del'){
    	  var selRowsIdArr=[];
          selRowsIdArr[0]=data.userId;
          ecApp.delRecs(selRowsIdArr);
      } else if(obj.event === 'edit'){
    	  ecApp.openForm('编辑',true,data.userId); 
      } else if(obj.event === 'showKeys'){
          layer.open({
              title:'查看用户Key信息',
              type: 1,
              anim: 3,
              fixed:true,
              maxmin:true,
              offset: 'r',
              area: ['600px', '100%'],
              content: $('#showCaKeyTp'),
              success: function(layero, index){
                  var vWhere={};
                  var vIdcard=data.idcard;
                  vWhere.idcard=vIdcard;
                  if(!ecApp.userCakeyTableIns){
                      ecApp.userCakeyTableIns=table.render({
                          method: 'post',
                          limit: 20,
                          even:true,
                          elem: '#ecShowCaKeyTable', 
                          height: 'full-100',
                          toolbar:'#caKeyTableToolbar',
                          done: function () {
                            //$('#ecgrid_hash').next().css('height','auto');
                          },request: {
                              pageName: 'page',
                              limitName: 'rows'
                          },
                          response: {
                              countName: 'total',
                              dataName: 'rows'
                          },
                          url: '../userCakey/searchJSON',
                          where: vWhere,      
                          page: true, //开启分页
                          cols: [
                            [ //表头
                              {type:'checkbox',fixed: 'left'}  
                              ,{field: 'id',title: 'ID',width: 80}
                              ,{field: 'hardwareSn',title: '硬件介质SN',width:200}
                              ,{field: 'status',title: '状态',width: 120,templet:function(d){
                            	  if(d.status==='01'){
                            		  return '未领取';
                            	  }else if(d.status==='02'){
                            		  return '已领取';
                            	  }else if(d.status==='03'){
                                      return '已丢失';
                                  }else if(d.status==='04'){
                                      return '离职归还';
                                  }else{
                                	  return '未知';
                                  }
                              }}
                              ,{field: 'createTime',title: '创建时间',width:120}
                              ,{field: 'opTime',title: '操作时间',width:120}
                            ]
                          ]
                        });
                  }else{
                      ecApp.userCakeyTableIns.reload({where: vWhere});
                  }                  
              },
              cancel: function(index, layero){ 
                  $(this.content).hide();
              }
          });    	  
    	  
         
      }
    });
    
    //监听顶部工具条
    table.on('toolbar(ecShowCaKeyTable)', function(obj){
          var checkStatus = table.checkStatus(obj.config.id);
          if(checkStatus.data&&checkStatus.data.length>=0){
        	  var oneData=checkStatus.data[0];
        	  var updateStatus='';
        	  var selArr=[];
        	  var oneData;
              switch(obj.event){
              case 'issueKey':
            	  for(var i=0;i<checkStatus.data.length;i++){
            		  oneData=checkStatus.data[i];
            		  if(!(oneData.status==='01')){
            			  layer.msg('只有未领取状态的Key才能执行领取操作');
                          return;
                      }
            	  }
            	  updateStatus='02';
              break;
              case 'lostKey':
                  for(var i=0;i<checkStatus.data.length;i++){
                      oneData=checkStatus.data[i];
                      if(oneData.status==='03'){
                    	  layer.msg('只有非丢失状态的Key才能执行标记丢失操作');
                          return;
                      }
                  }
            	  updateStatus='03';
              break;
              
              case 'recyclingKey':
            	  for(var i=0;i<checkStatus.data.length;i++){
                      oneData=checkStatus.data[i];
                      if(!(oneData.status==='02')){
                    	  layer.msg('只有已领取状态的Key才能执行归还操作');
                          return;
                      }
                  }
            	  updateStatus='04';
            	 
              break;
            };
            
            var sfJson={};
            sfJson.updateStatus=updateStatus;
            sfJson.userId=ecApp.curSelUser.userId;
            sfJson.userCaKeys=JSON.stringify(checkStatus.data);
            $.post("./update",sfJson,function(resp){
                if(resp){
                    if(resp.code===0){
                        var vWhere={};
                        vWhere.idcard=ecApp.curSelUser.idcard;
                        ecApp.userCakeyTableIns.reload({where: vWhere});
                        
                        if(obj.event==='issueKey'){
                        	var _html='<p>1.领取单号：'+resp.data.orderId+'</p>';
                            _html=_html+'<p>2.待签名PDF下载请点<a style="color:red;font-weight:bold" href="../cakeyOrder/downPdf?orderId='+resp.data.orderId+'" target="_blank">【这里】</a></p>';
                            _html=_html+'<p>3.签名PDF上传，请到【CA-KEY操作工单】界面，根据工单号选择对应的记录上传</p>'
                            layer.open({
                                title: sfJson.userName+'-领取单PDF下载'
                                ,content: _html
                              });
                        }else{
                        	layer.alert(resp.msg);
                        }
                    }else{
                    	layer.alert(resp.msg);
                    }
                }else{
                    layer.alert('操作失败');
                }
                
            },"json");
            

          }else{
        	  layer.msg('请选择要操作的KEY记录');
          }

        });    
    
    //监听提交表单
    form.on('submit(subFormBtn)', function(data){
      var sfJson=data.field;
      sfJson.status='01';
      var rnd=parseInt(Math.random()*1000000);
      sfJson.rnd=rnd;
      $.post("./save",sfJson,function(resp){
          if(resp){
        	  layer.msg(resp.msg);
          }else{
              layer.msg('操作失败');
          }
          
      },"json");
              
      return false;
    }); 

    //监听查询表单
    form.on('submit(searchFormBtn)', function(data){
        var vWhere=data.field;
        var rnd=parseInt(Math.random()*1000000);
        vWhere.rnd=rnd;
        tableIns.reload({where:vWhere});                
        return false;
      });

    //监听文件导入表单
    form.on('submit(fileImportBtn)', function(data){
        var sfJson=data.field;
        var rnd=parseInt(Math.random()*1000000);
        sfJson.rnd=rnd;
        var curLayerIndex=layer.load();
        $.ajax({
		   type:"POST",
		   url:"../user/impFileData",
		   data:sfJson,
		   dataType:'json',
		   success:function(resp){
			   layer.alert(resp.msg);
		   },
		   complete:function(){
			   layer.close(curLayerIndex);
		   },
		   error:function(){
			   layer.alert("操作失败，请重试！");
		   }
		});
        return false;
     });    
    
    
    $('#continueAdd').click(function(){
    	$('input[name="hardwareSn"]').val('');
    });
    

    //加载节点树    
    var setting = {
            async: {
                enable: true,
                url:"../group/tree",
                autoParam:["id", "name"]
            },
            callback : {
                onClick : function(event, treeId, treeNode, clickFlag){
                	    ecApp.ztree.currentNode=treeNode;
                	    var sfJson={};
                        sfJson.groupId=treeNode.id;
                        var rnd=parseInt(Math.random()*10000);
                        sfJson.rnd=rnd;
                        tableIns.reload({where:sfJson});
                },
                onRightClick:function(event, treeId, treeNode){
                    event.preventDefault();
                },
                onAsyncSuccess:function(event, treeId, treeNode, msg){
                	if(treeNode===undefined){
                		var treeObj = $.fn.zTree.getZTreeObj(treeId);
                        var rootNode=treeObj.getNodeByParam("id", -1, null);
                        treeObj.expandNode(rootNode, true, true, true);
                	}
                }
            }   
    };
    
    var treeObj=jQuery.fn.zTree.init($("#menuTreeId"), setting);
    
    ecApp.resetForm=function(){
        $('#ec-edit-form').get(0).reset();
    }
    
    ecApp.refreshTreeAndTable=function(){
    	var vWhere={};
    	if(treeObj){
            var sNodes = treeObj.getSelectedNodes();
            var refreshNode=null;
            if (sNodes.length>0) {
            	vWhere.groupId=sNodes[0].id;
                var isParent = sNodes[0].isParent;
                if(isParent){
                    refreshNode=sNodes[0];
                }else{
                    refreshNode=sNodes[0].getParentNode();
                }
            }
            
            //treeObj.reAsyncChildNodes(refreshNode, "refresh");
    	}
        tableIns.reload({where:vWhere});
    }
    
    
});
</script>     
</body>
<div id="editFormTp" style="display:none;">
   <div style="width: 98%;padding-top: 12px">
    <form id="ec-edit-form" class="layui-form" lay-filter="ec-edit-form" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-inline">
          <input type="text" name="userId" readonly="true" placeholder="系统生成" autocomplete="off" class="layui-input">
        </div>
      </div>     
      <div class="layui-form-item">
        <label class="layui-form-label">帐号</label>
        <div class="layui-input-block">
          <input type="text" name="alias" readonly="true" maxlength="64" required lay-verify="required" placeholder="请输入帐号" autocomplete="off" class="layui-input">
        </div>
      </div>      
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
          <input type="text" name="name" readonly="true" maxlength="64" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-block">
          <input type="text" name="idcard" readonly="true" lay-verify="" maxlength="32" placeholder="身份证号" autocomplete="off" class="layui-input">
        </div>
      </div>      
      <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-block">
          <input type="number" name="mobile" readonly="true" maxlength="32" lay-verify="" placeholder="请输入手机" autocomplete="off" class="layui-input">
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">硬件介质SN</label>
        <div class="layui-input-block">
          <input type="text" name="hardwareSn" maxlength="32" required lay-verify="required" placeholder="请输入硬件介质SN" autocomplete="off" class="layui-input">
        </div>
      </div>
      
      <div class="layui-form-item" id="btnGroup">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="subFormBtn">提交</button>
          <button class="layui-btn" type="button" id="continueAdd">继续新增</button>
        </div>
      </div>
    </form>
   </div> 
 </div>
 
 <div id="searchFormTp" style="display:none;">
   <div style="width: 98%;padding-top: 12px">
    <form id="ec-search-form" class="layui-form" lay-filter="ec-search-form" action="">      
      <div class="layui-form-item">
        <label class="layui-form-label">帐号</label>
        <div class="layui-input-block">
          <input type="text" name="alias" maxlength="64" placeholder="请输入帐号" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
          <input type="text" name="name" maxlength="64" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-block">
          <input type="text" name="idcard" maxlength="64" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
          <select name="status">
            <option value="y">启用</option>
            <option value="n">禁用</option>
          </select>
        </div>
      </div>
      <div class="layui-form-item" id="btnGroup">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="searchFormBtn">查询</button>
          <button type="reset" class="layui-btn">重置</button>
        </div>
      </div>
    </form>
   </div> 
 </div>
 
 <div id="showFileImportFormTp" style="display:none;">
    <div style="padding: 12px 12px;">
    <form id="ec-import-form" class="layui-form" lay-filter="ec-import-form" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">步骤</label>
        <div class="layui-input-block" style="color: red;font-weight: bold;">
            <p>1.点“上传文件”</p>
            <p>2.选择导入字段对应的excel列</p>
            <p>3.点“导入”</p>
        </div>
      </div>      
      <div class="layui-form-item">
        <label class="layui-form-label">Excel文件</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal" id="userFile" name="userFile" >
                <i class="layui-icon">&#xe67c;</i>上传文件
            </button>
            <p style="padding: 0 10px;color: #999" id="uploadTipText"></P>         
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">导入起始行</label>
        <div class="layui-input-inline">
          <input type="number" name="startNum" value="1" maxlength="8" required lay-verify="required|number" placeholder="请输入始行" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
           <select name="name" required lay-verify="required">
              <option value="">选择列</option>
           </select>
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">帐号</label>
        <div class="layui-input-inline">
           <select name="alias" required lay-verify="required">
              <option value="">选择列</option>
           </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-inline">
           <select name="idcard" required lay-verify="required">
              <option value="">选择列</option>
           </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
           <select name="mobile" required lay-verify="required">
              <option value="">选择列</option>
           </select>
        </div>
      </div>      

      <div class="layui-form-item">
        <label class="layui-form-label">用户部门</label>
        <div class="layui-input-inline">
           <select name="groupName" required lay-verify="required">
              <option value="">选择列</option>
           </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">硬件介质SN</label>
        <div class="layui-input-inline">
           <select name="hardwareSn" required lay-verify="required">
              <option value="">选择列</option>
           </select>
        </div>
      </div>

      <div class="layui-form-item" id="btnGroup">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="fileImportBtn">导入</button>
          <input type="hidden" id="filePath" name="filePath" value="" />
          <input type="hidden" name="opType" value="impUserKey" />
        </div>
      </div>
    </form>
        
    </div>       
 </div>
 
 <div id="showCaKeyTp" style="display:none;">
    <div style="padding: 0 12px;">
        <table id="ecShowCaKeyTable" lay-filter="ecShowCaKeyTable"></table>
    </div>       
 </div>
 
 <div id="showDeptCaKeyTp" style="display:none;">
    <div style="padding: 0 12px;">
        <table id="ecShowDeptCaKeyTable" lay-filter="ecShowDeptCaKeyTable"></table>
    </div>      
 </div>   
</html>