<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>统一认证权限</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> 
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">   
    <link th:replace="fragments/css"></link>
    <link rel="stylesheet" th:href="@{/component/ztree/css/zTreeStyle/zTreeStyle.css}" /> 
    
</head>
<body>
    <div class="layui-fluid" style="margin-top: 12px;">
      <div class="layui-row">
        <div class="layui-col-xs12">
          <div class="layui-card">
            <div class="layui-card-header">人个中心->修改密码
            </div>
            <div class="layui-card-body">
                <div class="layui-row">

				    <form id="ec-edit-form" class="layui-form" lay-filter="ec-edit-form" action="">
				      
				      <div class="layui-form-item">
                        <label class="layui-form-label">旧密码</label>
                        <div class="layui-input-inline">
                          <input id="oldPassword" type="password" name="oldPassword" maxlength="64" required lay-verify="required|password" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                        </div>
                      </div>
				      <div class="layui-form-item">
				        <label class="layui-form-label">新密码</label>
				        <div class="layui-input-inline">
				          <input id="newPassword" type="password" name="newPassword" maxlength="64" required lay-verify="required|password" placeholder="请输入新密码" autocomplete="off" class="layui-input">
				        </div>
				      </div>
				      <div class="layui-form-item">
				        <label class="layui-form-label">确认密码</label>
				        <div class="layui-input-inline">
				          <input type="password" name="confirmPassword" maxlength="64" required lay-verify="required|confirmPassword" data-compareTo="newPassword" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
				        </div>
				      </div>                   
				        
				      <div class="layui-form-item" id="btnGroup">
				        <div class="layui-input-block">
				          <button class="layui-btn" lay-submit lay-filter="subFormBtn">保存</button>
				        </div>
				      </div>
				    </form>
				    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script th:replace="fragments/scripts"></script>
<script type="text/javascript">

    layui.config({
        base: ecApp.context+'js/'
    }).use(['jquery','layer', 'form','table','laytpl'], function(){
    var $ = jQuery,
    layer = layui.layer,
    table = layui.table,
    form = layui.form,
    laytpl=layui.laytpl;

    //自定义验证规则
    form.verify({
      confirmPassword: function(value, item){
    	  var compareObjId=$(item).data('compareTo');
    	  var compareValue=$('#'+compareObjId).val();
    	  if(!(value===compareValue)){
    		  return '两次输入密码不一致';
    	  }
      }
      ,password: [/(.+){8}$/, '密码不能小于8位']
    });    
 
    
    //监听提交表单
    form.on('submit(subFormBtn)', function(data){
      var sfJson=data.field;
      var rnd=parseInt(Math.random()*1000000);
      sfJson.rnd=rnd;
      $.post("./modifyPassword",sfJson,function(resp){
    	  if(resp.code==0){
    		  layer.msg('密码修改成功');
    	  }else{
    		  layer.msg('密码修改失败');
    	  }          
      },"json");
              
      return false;
    }); 
 
    
  });
</script>     
</body>  
</html>